<div class="relative">
  <!--  FORMATEAR JSON -->
  <button class="cursor-pointer absolute left-16 ms-6" (click)="formatear()">
    <svg class="w-6 h-6 text-verde-oscuro" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
      <path fill-rule="evenodd" d="M11 4.717c-2.286-.58-4.16-.756-7.045-.71A1.99 1.99 0 0 0 2 6v11c0 1.133.934 2.022 2.044 2.007 2.759-.038 4.5.16 6.956.791V4.717Zm2 15.081c2.456-.631 4.198-.829 6.956-.791A2.013 2.013 0 0 0 22 16.999V6a1.99 1.99 0 0 0-1.955-1.993c-2.885-.046-4.76.13-7.045.71v15.081Z" clip-rule="evenodd"/>
    </svg>  
  </button>
  <label for="jsonTextarea" class="block text-gray-50 text-md font-bold my-6">JSON:</label>
  <textarea #textarea class=" bg-verde-claro text-verde-oscuro h-96 p-4 w-full shadow-lg">{{jsonText}}</textarea>
</div>




<!-- ALERTA DE CAMBIO -->
<div *ngIf="notValidJson" class="p-4 mb-4 w-fit absolute right-0 top-0 text-sm bg-red-200 text-red-600" role="alert">
  <span class="font-medium">¡Error!</span> El JSON que has introducido es inválido.
</div>
