<div class="w-1/2 mx-auto">
  <h1 class="text-2xl sm:text-3xl font-bold text-gray-50 mb-6 text-center">Formulario de Registro</h1>
  <form action="">
    <label class="block mb-2 text-sm font-medium text-gray-50" for="file_input">Subir archivos</label>
    <input #inputFile (change)="onFileSelected($event)" class="block w-full text-sm border cursor-pointer text-white  bg-verde-claro focus:outline-none  border-gray-600 placeholder:text-verde-claro" id="file_input" type="file">
  </form>

    <!-- ALERTA ERROR -->
  <div *ngIf="errorFormato" class="p-4 mb-4 w-fit absolute right-10 top-10 text-sm rounded-md bg-red-200 text-red-600" role="alert">
    <span class="font-medium">¡Error!</span> Debes introducir un formato JSON.
  </div>
</div>
