
  <div class="w-3/4 mx-auto text-gray-500 sm:text-lg dark:text-gray-400">
    
    <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">Obtén toda la información necesaria sobre tu archivo JSON.</h2>
    <p class="mb-4 font-medium">Nuestra aplicación te permite extraer y visualizar de manera rápida e intuitiva las interfaces de tus archivos JSON. Con herramientas de filtrado automático, podrás encontrar la información específica que necesitas dentro de tus archivos JSON de forma eficiente. Además, contarás con un historial completo de todos los archivos que has procesado, facilitando el acceso y la gestión de tus datos. Aprovecha esta solución integral para optimizar tu flujo de trabajo y manejar tus datos JSON con mayor facilidad.</p>
    <ul class="mb-4 list-disc pl-5 text-white">
      <li class="mb-2 font-medium text-white">Extracción rápida de interfaces JSON.</li>
      <li class="mb-2 font-medium text-white">Filtrado automático de información dentro de los archivos JSON.</li>
      <li class="mb-2 font-medium text-white">Historial completo de todos los archivos procesados.</li>
      <li class="mb-2 font-medium text-white">Interfaz intuitiva y fácil de usar.</li>
      <li class="mb-2 font-medium text-white">Optimiza tu flujo de trabajo y mejora la gestión de tus datos JSON.</li>
    </ul>
    <p class="font-medium p-4 bg-gray-600 rounded-md text-white my-6">Descubre cómo nuestra aplicación puede transformar la manera en que trabajas con archivos JSON, haciendo el proceso más eficiente y efectivo.</p>


      <a href="/form" (click)="onLinkClick()" class="inline-flex cursor-pointer items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">
          Empezar
          <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
      </a>

      <a href="/doc" class="ms-12 cursor-pointer inline-flex items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">
        Documentación
        <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
      </a>
  </div>
