
  <div class="w-3/4 mx-auto  sm:text-lg text-gray-400 animate-fade-right animate-once animate-delay-200">
    <img src="assets/img/imagen_principal.svg" class="w-96 lg:w-1/2 drop-shadow-xl mb-12" alt="" loading="lazy">
    <h2 class="mb-4 text-3xl sm:text-4xl tracking-tight font-bold text-white">Obtén toda la información necesaria sobre tu archivo JSON.</h2>
    <p class="mb-4  text-white">Nuestra aplicación te permite extraer y visualizar de manera rápida e intuitiva las interfaces de tus archivos JSON. Con herramientas de filtrado automático, podrás encontrar la información específica que necesitas dentro de tus archivos JSON de forma eficiente. Además, contarás con un historial completo de todos los archivos que has procesado, facilitando el acceso y la gestión de tus datos. Aprovecha esta solución integral para optimizar tu flujo de trabajo y manejar tus datos JSON con mayor facilidad.</p>
    <ul class="mb-4 list-disc pl-5 text-white">
      <li class="mb-2">Extracción rápida de interfaces JSON.</li>
      <li class="mb-2">Filtrado automático de información dentro de los archivos JSON.</li>
      <li class="mb-2">Historial completo de todos los archivos procesados.</li>
      <li class="mb-2">Interfaz intuitiva y fácil de usar.</li>
      <li class="mb-2">Optimiza tu flujo de trabajo y mejora la gestión de tus datos JSON.</li>
    </ul>
    <p class="font-medium p-4 bg-verde-oscuro text-white my-6">Descubre cómo nuestra aplicación puede transformar la manera en que trabajas con archivos JSON, haciendo el proceso más eficiente y efectivo.</p>


      <div class="flex flex-col items-center gap-4 md:flex-row ">
        <a href="/form" (click)="onLinkClick()" class="inline-flex cursor-pointer items-center font-medium shadow-sm text-verde-oscuro bg-white p-2 hover:text-primary-700">
          Empezar
          <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        </a>

        <a href="/doc" class="cursor-pointer inline-flex items-center font-medium shadow-sm text-verde-oscuro bg-white p-2 hover:text-primary-700">
          Documentación
          <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        </a>
      </div>
  </div>
