<div>
  <h3 for="jsonTextarea" class="block text-gray-50 text-md font-bold my-6">Interfaces generada:</h3>
 
  <!-- FORMULARIO -->
  <form *ngIf="interfaces.length > 0" action="" class="my-6" [formGroup]="miFormulario" (ngSubmit)="enviar()" autocomplete="off">
    <div>
      <label for="interface_name" class="block mb-2 text-sm font-medium text-gray-50">Nombre de la interfaz:</label>
      <input type="text" formControlName="interface_name" id="interface_name" class="bg-verde-oscuro text-sm placeholder:text-verde-medio text-verde-claro focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="Introduce el nombre de la interfaz" required />
    </div>
    <button type="submit" class="text-gray-50 bg-verde-claro hover:bg-verde-oscuro font-medium  mt-4 text-sm w-full sm:w-auto px-5 py-2.5 text-center">Guardar</button>
  </form>
  <!-- CAJA DE LA INTERFAZ -->
  <div class="p-6 w-full shadow-lg bg-verde-oscuro text-gray-50 relative">
    <a *ngIf="interfaces.length > 0"  (click)="copyText($event)" class="cursor-pointer">
      <svg class="w-6 h-6 text-verde-claro absolute right-5 top-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M18 3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1V9a4 4 0 0 0-4-4h-3a1.99 1.99 0 0 0-1 .267V5a2 2 0 0 1 2-2h7Z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M8 7.054V11H4.2a2 2 0 0 1 .281-.432l2.46-2.87A2 2 0 0 1 8 7.054ZM10 7v4a2 2 0 0 1-2 2H4v6a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-3Z" clip-rule="evenodd"/>
      </svg>
    </a>

    <a *ngIf="interfaces.length > 0"  (click)="downloadFile()" class="cursor-pointer">
      <svg class="w-6 h-6 text-verde-claro absolute right-14 top-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01"/>
      </svg>
      
    </a>
    
    <ng-container *ngFor="let interface of interfaces">
      <code class="text-verde-claro" #textCopy [innerHTML]="interface"></code>
    </ng-container>
  </div>

  <!-- ALERTA DE CAMBIO -->
  <div *ngIf="cambiaNombre" class="p-4 mb-4 w-fit absolute right-10 top-10 text-sm bg-green-200 text-green-600" role="alert">
    <span class="font-medium">¡Operación realizada!</span> El nombre de la interfaz se ha cambiado correctamente.
  </div>

  <!-- ALERTA COPIADO -->
  <div *ngIf="interfazCopiada" class="p-4 mb-4 w-fit absolute right-10 top-10 text-sm bg-blue-200 text-blue-600" role="alert">
    <span class="font-medium">¡Operación realizada!</span> Se ha copiado correctamente
  </div>

</div>
